<h1>New Message</h1>
<form method="POST" action="/new">
    <input type="text" name="author" id="'author" placeholder="Name" required>
    <input type="text" name="message" id="'message" placeholder="Message" required>
    <button type="submit">Submit</button>
 </form>